@use 'variables' as v;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if map-has-key(v.$breakpoints, $breakpoint) {
    @media (min-width: map-get(v.$breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin color-variants($property) {
  @each $name, $color in v.$colors {
    &-#{$name} {
      #{$property}: $color;
    }
  }
}