<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Título *</mat-label>
    <input matInput formControlName="titulo" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descrição</mat-label>
    <textarea matInput formControlName="descricao" rows="3"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data *</mat-label>
    <input matInput type="date" formControlName="data" required>
  </mat-form-field>

  <mat-radio-group formControlName="prioridade">
    <mat-radio-button *ngFor="let p of prioridades" [value]="p.value">
      {{p.label}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="actions">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </div>
</form>